*{
    margin-left: 1rem;
    
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1.5rem;
}

.container p{
    width: 300px;
}

/* style image to be full width of container 
so that when you change p width, the image 
will change accordingly.  */
.w-100{
    width: 100%;
}
